<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let control of jsonFormData?.controls">
        <div class="row">
            <div class="col-lg-6">
                <label for="">{{control.name}}</label>
                <ng-container *ngIf="control.type != 'radio'">
                    <input [type]="control.type"
                        [formControlName]="control.name"
                        [value]="control.value">
                </ng-container>
                <ng-container *ngIf="control.type == 'radio'">
                    <ng-container *ngFor="let option of control.data">
                        <label><input class="price-input" type="radio"
                                name="{{control.name}}" [formControlName]="control.name" [value]="option.value"><span
                                class="price">{{option.label}}</span></label>
                    </ng-container>
                    <!-- <label for="">{{control.name}}</label>
                    <span *ngFor="let option of control.data">
                        <input [type]="control.type" name="gender" formControlName="gender" value="1">{{option.label}}
                    </span> -->
                </ng-container>
            </div>
        </div>
    </ng-container>
    <button class="submit">Submit</button>
</form>